.all-posts {
    margin-left: 0px;
    margin-right: 0px;
    background-color: $white;
    border-radius: 0;
    padding: 5% 3%;

    @media (min-width: $screen-sm-min) {
        #search-container {
            padding-top: 75px;
            padding-bottom: 150px;
        }
    }

    @media (min-width: $screen-md-min) {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 5px;

        #search-container {
            padding-bottom: 300px;
        }
    }

    #search-input {
        position: relative;
        width: 100%;
        padding: 6px 15px 6px 30px;
        margin: 2px;
        margin-top: 50px;

        color: $dark;
        background-color: $white;

        border: 1px solid #adc5cf;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
    }

    #search-input:focus {
        outline: none;
    }

    .content-panel {
        padding-left: 10px;
        padding-right: 10px;

        @media (min-width: $screen-md-min) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .categories {
        font-size: 22px;
        text-align: right;
    }
}

.btn-categories {
    background-color: $light-blue;
    border-color: $light-blue;
    color: $white;

    &:hover {
        background-color: $dark-blue;
        border-color: $dark-blue;
        color: $white;
    }

    &:active {
        background-color: $dark-blue;
        border-color: $dark-blue;
        color: $white;
    }

    &:focus {
        background-color: $dark-blue;
        border-color: $dark-blue;
        color: $white;
    }
}

.dropdown-menu {
    min-width: 100px;
    background-color: $light-blue;
    color: $white;
    text-align: center;

    >li>a {
        background-color: $light-blue;
        color: $white;

        &:hover {
            background-color: $dark-blue;
            color: $white;
        }
    }
}

.post-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5%;
    padding: 0 2% 4% 2%;

    &:not(:last-child) {
        border-bottom: 1px solid $dark-white;
    }

    .date-wrapper {
        width: 100px;
        height: 100px;
        color: $light-blue;
        border: 3px solid $light-blue;
        border-radius: 5px;
        padding: 9px 0;
        text-align: center;
        margin-bottom: 15px;

        .date-up {
            font-size: 2.8rem;
            font-weight: 500;
        }

        .date-down {
            font-size: 1rem;
            color: $light-black;
        }
    }

    .date-category {
        width: 100px;
    }

    .post-date-wrapper {
        width: 130px;
        flex: 0 0 130px;
        display: none;

        @media (min-width: $screen-sm-min) {
            display: block;
        }
    }

    .post-content-wrapper {
        width: calc(100% - 170px);
        flex: 1;
    }

    .post-up {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;

        .post-date {
            color: $light-blue;
            font-size: 1.2rem;
            font-weight: 500;
        }

        @media (min-width: $screen-sm-min) {
            display: none;
        }
    }

    .post-image {
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-bottom: 30px;
        display: block;

        img {
            width: 100%;
            height: auto;
        }
    }

    .post-title {
        font-size: 1.6rem;
        color: $light-black;
        margin-bottom: 20px;
        display: block;
        font-weight: 700;

        &:hover {
            color: $light-blue;
        }
    }

    .post-content {
        font-size: .9rem;
        color: $light-medium;
        margin-bottom: 30px;
    }

    .post-more {
        text-align: left;

        .btn {
            display: inline-block;
            border: 1px solid;
            border-color: $light;
            margin-bottom: 20px;
            padding: 10px 18px;
            font-weight: 500;

            &:hover {
                box-shadow: 0 0 1px 0 $light-medium;
                color: $light-blue;
            }
        }
    }

    .post-tags {
        text-align: right;
        font-size: 0.9rem;
        color: $light-blue;

        span:not(:last-child):after {
            content: "、";
        }
    }
}


.category-wrapper {
    font-size: 0.9rem;
    padding: 0 5px;
    color: $light-black;

    i {
        font-size: 1.1rem;
        margin-right: 4px;
        vertical-align: middle;
    }
}