@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

/* Colours */
$base-white:      #E6E6E6;
$base-red:        #FF0028;
$light-black:     #737373;
$dark-black:      #4C4C4C;
$light-red:       #FFA8BA;
$dark-red:        #FF6685;
$light-green:     #C5EBC5;
$dark-green:      #A6EBA6;
$light-yellow:    #F9F9A5;
$dark-yellow:     #FFDC72;
$light-blue:      #8DDBFF;
$dark-blue:       #5DC6F5;
$light-purple:    #FFABFF;
$dark-purple:     #FF8FFF;
$light-aqua:      #B0F0F0;
$dark-aqua:       #86D1D7;
$light-white:     #FFFFFF;
$dark-white:      #DBDBDB;
$twitter: #6dabda;
$linkedin: #2b77b1;
$xing: #006567;
$google-plus: #c95644;
$facebook: #365899;
$github: #f6c2a4;
$stack-overflow: #c98b3b;
$instagram: #cd486b;
$reddit: #cee3f8;
$rss: #eea33a;

$darker: #21211E;
$dark: #2D2D29;
$medium: #3B3B35;
$light-medium: #969696;
$dark-blue: #215A6D;
$light-blue: #3CA2A2;
$green: #92C7A3;
$light: #DFECE6;
$white: #FFFFFF;
$dark-purple: #300030;
$medium-purple: #480048;
$regular-purple: #601848;
$red: #C04848;
$orange: #F07241;


/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-mdlg-min: 1024px;
$screen-lg-min: 1200px;

//fonts
$font1: Fira Sans, sans-serif;